{% load i18n chimere_tags %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="navbar-collapse collapse">

        <div class='navbar-left'>
            <ul class="nav navbar-nav">
                <li id='categories-lnk' class='active'>
                    <a href='#categories' data-toggle='panel'>
                        <span class='fa fa-chimere-action'></span> {% trans "Categories "%}
                        </a>
                </li>
            </ul>
        </div>
        
        <div id="navbar_social" class='navbar-right'>
            <ul class="nav navbar-nav">
                <li id="agenda-lnk">
                    <a href="http://agendacitoyen.fr/" target="_blank" onclick='jQuery("#map").chimere("saveExtent");'>
                        <span class="fa fa-chimere-action fa-calendar"></span>
                    </a>
                </li>
                <li id="blog-lnk">
                    <a href="http://www.blog.cresol.fr/" target="_blank" onclick='jQuery("#map").chimere("saveExtent");'>
                        <span class="fa fa-chimere-action fa-bullhorn"></span>
                    </a>
                </li>
                <li id="twitter-lnk">
                    <a href="https://twitter.com/CarteOuverte" target="_blank" onclick='jQuery("#map").chimere("saveExtent");'>
                        <span class="fa fa-chimere-action fa-twitter"></span>
                    </a>
                </li>
                <li id="facebook-lnk">
                    <a href="https://twitter.com/CarteOuverte" target="_blank" onclick='jQuery("#map").chimere("saveExtent");'>
                        <span class="fa fa-chimere-action fa-facebook"></span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class='navbar-right'>
            <ul class="nav navbar-nav">
                <li id='search-lnk'><a href='#search-box' data-toggle='panel'>{% trans "Search" %}</a></li>      
                <li id="rss-lnk">
                  <a href="/feeds" onclick='jQuery("#map").chimere("saveExtent");'>
                    <span class="fa fa-chimere-action"></span>
                    <span class="lbl">FLUX RSS</span>
                  </a>
                </li>
                <li id="view-lnk">
                  <a href="/" onclick='jQuery("#map").chimere("saveExtent");'>
                    <span class="fa fa-chimere-action"></span>
                    <span class="lbl">VOIR</span>
                  </a>
                </li>
                <li id="contribute-lnk">
                  <a href="/edit/" onclick='jQuery("#map").chimere("saveExtent");'>
                    <span class="fa fa-chimere-action"></span>
                    <span class="lbl">PARTICIPER</span>
                  </a>
                </li>
            </ul>
        </div>
        
     
    </div>
 
  </div>
</div>

